<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="card">
        <label class="item item-input">
          <span class="input-label" style="color:#04142B;">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label" style="color:#04142B;">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-stable" type="submit" style="background-color:#04142B; color: white;">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
  <div class="tabs tabs-icon-top">
      <!-- <label class="item-input-wrapper" class="item item-icon-left">
        <a class="button button-icon icon ion-camera"></a>
        <input type="text" placeholder="Post Something..." style="width: 350px;">
    </label>
    <button ng-click="addPost()" class="button button-clear" style="color: #04142B;">
      POST
    </button> -->
    </div>
</ion-modal-view>
