<ion-view view-title="Medicine" ng-controller="AppCtrl">
<!--  <div class="bar bar-header item-input-inset">
	 
	</div>
	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input type="text" ng-model="search" placeholder="Search for medicine">
	  </label>
	  <button class="button button-clear">
	    Cancel
	  </button>
	</div> -->
  <ion-content>
	 <!--  href="#/app/medicines/{{medicine.id}}" !-->
    <ion-list>
      <ion-item ng-repeat="medicine in medicines | filter:search" ng-click="open()" style="color:#04142B;">
        {{medicine.title}} 
      </ion-item>
    </ion-list>
  </ion-content>

   <div class="tabs tabs-icon-top">
    	<label class="item-input-wrapper" class="item item-icon-left">
    		<input type="text" ng-model="search" placeholder="Search for medicine" style="width: 400px;">
		</label>
		<a class="button button-icon icon ion-ios-search"></a>
	      </div>
</ion-view>
