<ion-view view-title="Profile">

<ion-nav-bar>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color: #04142B;">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button icon ion-gear-a"></button>
      </ion-nav-buttons>
</ion-nav-bar>

 <ion-content class="has-header">
      <div class="list card">
		  <div class="item item-avatar">
		    <img src="img/jr.jpg">
		    <h2>Marty McFly</h2>
		    <p style="color: #04142b;">November 05, 1955</p>
		  </div>
		  <div class="item item-body">
		    <p style="color: #04142b;">
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>
		  </div>
	 </div>

	 <div class="list card">
		  <div class="item item-avatar">
		    <img src="img/jr.jpg">
		    <h2>Marty McFly</h2>
		    <p style="color: #04142b;">November 05, 1955</p>
		  </div>
		  <div class="item item-body">
		    <p style="color: #04142b;">
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>
		  </div>
	 </div>

	 <div class="list card">
		  <div class="item item-avatar">
		    <img src="img/jr.jpg">
		    <h2>Marty McFly</h2>
		    <p style="color: #04142b;">November 05, 1955</p>
		  </div>
		  <div class="item item-body">
		    <p style="color: #04142b;">
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>
		  </div>
	 </div>

	 <div class="list card">
		  <div class="item item-avatar">
		    <img src="img/jr.jpg">
		    <h2>Marty McFly</h2>
		    <p style="color: #04142b;">November 05, 1955</p>
		  </div>
		  <div class="item item-body">
		    <p style="color: #04142b;">
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>
		  </div>
	 </div>
	 
      </ion-content>

    <div class="tabs tabs-icon-top">
    	<label class="item-input-wrapper" class="item item-icon-left">
    		<a class="button button-icon icon ion-camera"></a>
		    <input type="text" placeholder="Post Something..." style="width: 350px;">
		</label>
	  <button ng-click="addPost()" class="button button-clear" style="color: #04142B;">
	    POST
	  </button>
    </div>

</ion-view>